{% extends 'base.html.twig' %}

{% block title %}Create Bank Affiliate{% endblock %}

{% block body %}
    <div class="container">
        <h1>New Bank Affiliate</h1>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}

            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-dark">Create</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
