<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Artprezent</a>
    <a href="{{ url('invoice.create') }}" class="btn btn-light ml-auto">Create Invoice</a>
</nav>

<div class="container mt-3 mb-4">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
</body>

<!-- Footer -->
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© {{ "now"|date("Y") }}
        <a href="mailto:klimovedik88@gmail.com"> Eduard Climov</a>
    </div>
</footer>
<!-- Footer -->
</html>
