{% extends 'base.html.twig' %}

{% block title %}{% trans %}Create{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Bank{% endtrans %}</h1>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}

            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-dark">{% trans %}Create{% endtrans %}</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
