{% extends 'base.html.twig' %}

{% block title %}{{ bank.name }}{% endblock %}

{% block body %}
    {% include 'toolbar.html.twig' with {
        'deleteForm': deleteForm,
        'urlEdit': url('bank.edit', {id: bank.id})
    } %}
    <h class="display-4">{{ bank.name }}</h>
    <p>Created at: {{ bank.createdAt|date("d/m/Y") }}</p>
    <p>additional info1</p>
    {% include 'bankAffiliate/list.html.twig' with {
        'bank': bank,
    } %}
{% endblock %}
