{% extends 'base.html.twig' %}

{% block title %}{{ bank.name }}{% endblock %}

{% block content %}
    {% include 'toolbar.html.twig' with {
        'deleteForm': deleteForm,
        'urlEdit': url('bank.edit', {id: bank.id})
    } %}
    <h class="display-4">{{ bank.name }}</h>
    <p>{% trans %}Created At{% endtrans %}: {{ bank.createdAt|date("d/m/Y") }}</p>
    <hr>
    {% include 'bankAffiliate/list.html.twig' with {
        'bank': bank,
    } %}
{% endblock %}
