{% extends 'base.html.twig' %}

{% block title %}Edit Company Kind{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Company Kind</h1>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-dark">Update</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
