{% extends 'base.html.twig' %}

{% block title %}Items{% endblock %}

{% block content %}
    <div>
        {% trans %}This page will be filled with content in the future{% endtrans %}
    </div>
{% endblock %}
