<a href="{{ url('companyAddress.create', {id: company.id}) }}" class="btn btn-dark ml-auto">Add new company address</a>
<div class="container mt-3 mb-4">
    <table class="table table-hover table-sm">
        <tr class="thead-dark">
            <th>Address</th>
            <th style="text-align: center;">Actions</th>
        </tr>
        {% for address in company.addresses %}
            <tr>
                <td>
                    {{ address.address }}
                </td>
                <td style="text-align: center;">
                    <div>
                        <a href="{{ url('companyAddress.edit', {id: address.id}) }}" style="margin: 5px; text-decoration: none;">
                            <button type="button" class="btn btn-secondary" title="Edit">
                                <span class="octicon octicon-pencil"></span>
                            </button>
                        </a>
                        <form action="{{ url('companyAddress.delete', {id: address.id}) }}" method="post" style="margin: 5px; display: inline;">
                            <button type="submit" class="btn btn-danger" title="Delete" onclick="return confirm('Are you sure you want to delete this address?');">
                                <span class="octicon octicon-trashcan"></span>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
